<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>CMS | CompanyList</title>
  <!-- <link rel="icon" href="img/lab_logo.svg"> -->
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/admin_page.css">
  <link rel="stylesheet" href="css/bootstrap-table.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap-datepicker.min.css"/>
  <script src="js/solid.js"></script>
  <script src="js/fontawesome.js"></script>
</head>

<body>
<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>Company Management</h3>
    </div>

    <div class="brand">
      <p>
        <img src="img/guides.svg" height="250%" width="250%"/>
      </p>
    </div>

    <ul class="list-unstyled components">
      <li>
        <a href="company.html">已认证企业管理管理</a>
      </li>
      <li>
        <a href="apply.html">待认证企业审批</a>
      </li>
      <!--            <li>-->
      <!--                <a href="./scrap.html">实验室设备报废管理</a>-->
      <!--            </li>-->
      <!--            <li>-->
      <!--                <a href="./apply.html">实验室设备申请管理</a>-->
      <!--            </li>-->
      <!--            <li>-->
      <!--                <a href="./buy.html">实验室设备购买管理</a>-->
      <!--            </li>-->

    </ul>
    <ul class="list-unstyled CTAs">
      <li>
        <button class="btn btn-info btn-block" id="logout">
          <i class="fas fa-sign-out-alt"></i>
          退出登录
        </button>
      </li>

    </ul>

  </nav>

  <!-- Page Content  -->
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fas fa-align-left"></i>
          <span>菜单</span>
        </button>

      </div>
    </nav>

    <!--数据表-->
    <div id="toolbar">
      <button type="button" class="btn btn-success" id="refreshBtn">
        <i class="fas fa-sync" aria-hidden="true"></i>
        刷新
      </button>
      <!--            <button type="button" class="btn btn-info" id="insertBtn" data-toggle="modal" data-target="#insertModal">-->
      <!--                <i class="fa fa-plus-circle" aria-hidden="true"></i>-->
      <!--                添加-->
      <!--            </button>-->
      <button type="button" class="btn btn-primary" id="updateBtn">
        <i class="fas fa-edit"></i>
        修改
      </button>
      <!--            <button type="button" class="btn btn-warning" id="repairBtn">-->
      <!--                <i class="fa fa-wrench" aria-hidden="true"></i>-->
      <!--                维修-->
      <!--            </button>-->
      <!--            <button type="button" class="btn btn-danger" id="scrapBtn">-->
      <!--                <i class="fa fa-trash" aria-hidden="true"></i>-->
      <!--                报废-->
      <!--            </button>-->
      <button class="btn btn-secondary dropdown-toggle" type="button" id="searchButtons" data-toggle="dropdown">
        <i class="fa fa-search" aria-hidden="true"></i>
        搜索
      </button>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <button type="button" class="dropdown-item" id="dateSearchBtn" data-toggle="modal"
                data-target="#findByKeywordModal">
          <i class="fa fa-search-plus" aria-hidden="true"></i>
          模糊搜索
        </button>
      </div>
    </div>
    <table id="table"
           data-toggle="true"
           data-pagination="true"
           data-locale="zh_CN"
           data-show-toggle="true"
           data-show-columns="true"
           data-sort-name="id"
           data-sort-order="asc"
           data-toolbar="#toolbar"
           data-id-field="id"
           data-check-on-init="false"
           data-click-to-select="true">
      <thead>
      <tr>
        <th data-field="state" data-checkbox="true"></th>
        <th data-field="companyId" data-sortable="true">公司编号</th>
        <th data-field="companyName" data-sortable="true">公司名</th>
        <th data-field="principalAccount" data-sortable="true">负责人账号</th>
        <th data-field="companyAddress" data-sortable="true">地址</th>
        <th data-field="companyTel" data-sortable="true">公司电话</th>
        <th data-field="introduction" data-sortable="true">介绍</th>
        <th data-field="legalPerson" data-sortable="true">企业法人</th>
        <th data-field="legalPersonTel" data-sortable="true">法人电话</th>
      </tr>
      </thead>
    </table>

    <div class="alert  fade show" role="alert" id="mResult"></div>

    <!--添加数据 -->
    <div class="modal fade" id="insertModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">添加数据</h5>
          </div>
          <div class="modal-body">
            <form class="form-group" id="insertForm">
              <div class="form-group">
                <label for="insertCompanyId">公司编号</label>
                <input type="text" class="form-control" id="insertCompanyId" placeholder="">
              </div>
              <div class="form-group">
                <label for="insertCompanyName">公司名</label>
                <input type="text" class="form-control" id="insertCompanyName" placeholder="">
              </div>
              <div class="form-group">
                <label for="insertPrincipalAccount">负责人账号</label>
                <input type="text" class="form-control" id="insertPrincipalAccount" placeholder="">
              </div>
              <div class="form-group">
                <label for="insertCompanyAddress">公司地址</label>
                <input type="text" class="form-control" id="insertCompanyAddress" placeholder="">
              </div>
              <div class="form-group">
                <label for="insertCompanyTel">公司电话</label>
                <input type="text" class="form-control" id="insertCompanyTel" placeholder="">
              </div>
              <div class="form-group">
                <label for="insertIntroduction">介绍</label>
                <input type="text" class="form-control" id="insertIntroduction" placeholder="">
              </div>
              <div class="form-group">
                <label for="insertLegalPerson">企业法人</label>
                <input type="text" class="form-control" id="insertLegalPerson" placeholder="">
              </div>
              <div class="form-group">
                <label for="insertLegalPersonTel">法人电话</label>
                <input type="text" class="form-control" id="insertLegalPersonTel" placeholder="">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" id="insertSave">添加</button>
          </div>
        </div>
      </div>
    </div>


    <!--更新数据-->
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">修改数据</h5>
          </div>
          <div class="modal-body">
            <form class="form-group" id="updateForm">
              <div class="form-group">
                <label for="insertCompanyId">公司编号</label>
                <input type="text" class="form-control" id="updateCompanyId" placeholder="">
              </div>
              <div class="form-group">
                <label for="insertCompanyName">公司名</label>
                <input type="text" class="form-control" id="updateCompanyName" placeholder="">
              </div>
              <div class="form-group">
                <label for="insertPrincipalAccount">负责人</label>
                <input type="text" class="form-control" id="updatePrincipalAccount" placeholder="">
              </div>
              <div class="form-group">
                <label for="insertCompanyAddress">公司地址</label>
                <input type="text" class="form-control" id="updateCompanyAddress" placeholder="">
              </div>
              <div class="form-group">
                <label for="insertCompanyTel">公司电话</label>
                <input type="text" class="form-control" id="updateCompanyTel" placeholder="">
              </div>
              <div class="form-group">
                <label for="insertIntroduction">介绍</label>
                <input type="text" class="form-control" id="updateIntroduction" placeholder="">
              </div>
              <div class="form-group">
                <label for="insertLegalPerson">企业法人</label>
                <input type="text" class="form-control" id="updateLegalPerson" placeholder="">
              </div>
              <div class="form-group">
                <label for="insertLegalPersonTel">法人电话</label>
                <input type="text" class="form-control" id="updateLegalPersonTel" placeholder="">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" id="updateSave">保存</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="findByCompanyId" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">按编号查找数据</h5>
          </div>
          <div class="modal-body">
            <form class="form-group" id="findByDateForm">
              <div class="form-group">
                <label for="companyId">编号</label>
                <input type="text" class="form-control" id="companyId" placeholder="">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" id="findBySerialNumberBtn">搜索</button>
          </div>
        </div>
      </div>
    </div>


    <div class="modal fade" id="findByKeywordModal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">关键字搜索</h5>
          </div>
          <div class="modal-body">
            <form class="form-group" id="searchForm">
              <div class="form-group">
                <label for="searchKeyWord">搜索关键字</label>
                <input type="text" class="form-control" id="searchKeyWord" placeholder="">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-primary" id="fuzzSearchBtn">搜索</button>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

<script src="js/jquery-3.4.0.min.js"></script>
<script src="js/bootstrap.bundle.js"></script>
<script src="js/bootstrap-table.js"></script>
<script src="js/bootstrap-table-locale-all.js"></script>
<script src="js/bootbox.min.js"></script>
<script src="js/bootbox.locales.min.js"></script>
<script src="js/bootstrap-datepicker.min.js"></script>
<script src="js/company.js"></script>

<script>
  $(document).ready(function () {
    $.ajaxSetup({
      complete: function (xhr, status) {
        //拦截器实现超时跳转到登录页面
        // 通过xhr取得响应头
        var REDIRECT = xhr.getResponseHeader("REDIRECT");
        // alert(REDIRECT);
        //如果响应头中包含 REDIRECT 则说明是拦截器返回的
        if (REDIRECT == "REDIRECT") {
          var win = window;
          while (win != win.top) {
            win = win.top;
          }
          //重新跳转到拦截器中的路径
          win.location.href = xhr.getResponseHeader("CONTEXTPATH");
        }
      }
    });


    $('#sidebarCollapse').on('click', function () {
      $('#sidebar').toggleClass('active');
    });

    $('#insertPDate').datepicker({
      format: 'yyyy-mm-dd'
    });

    $('#updatePDate').datepicker({
      format: 'yyyy-mm-dd'
    });

    $('#logout').click(function () {
      $.ajax({
        type: "post",
        url: getPath() + "/admin/logout",
        async: false,
        dataType: "json",
        success: function (data) {
          if (data.flag)
            location.href = "index.html";
        },
        error: function () {

        }
      })
    });

    Date.prototype.pattern = function (fmt) {
      var o = {
        "M+": this.getMonth() + 1, //月份
        "d+": this.getDate(), //日
        "h+": this.getHours() % 12 == 0 ? 12 : this.getHours() % 12, //小时
        "H+": this.getHours(), //小时
        "m+": this.getMinutes(), //分
        "s+": this.getSeconds(), //秒
        "q+": Math.floor((this.getMonth() + 3) / 3), //季度
        "S": this.getMilliseconds() //毫秒
      };
      var week = {
        "0": "/u65e5",
        "1": "/u4e00",
        "2": "/u4e8c",
        "3": "/u4e09",
        "4": "/u56db",
        "5": "/u4e94",
        "6": "/u516d"
      };
      if (/(y+)/.test(fmt)) {
        fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
      }
      if (/(E+)/.test(fmt)) {
        fmt = fmt.replace(RegExp.$1, ((RegExp.$1.length > 1) ? (RegExp.$1.length > 2 ? "/u661f/u671f" : "/u5468") : "") + week[this.getDay() + ""]);
      }
      for (var k in o) {
        if (new RegExp("(" + k + ")").test(fmt)) {
          fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        }
      }
      return fmt;
    };
  });
</script>
</body>

</html>