<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Welcome</title>

    <link href="../static/css2/bootstrap.min.css" rel="stylesheet" th:href="@{/css2/bootstrap.min.css}">
    <link href="../static/css2/style.css" rel="stylesheet" th:href="@{/css2/style.css}">

</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">
                Welcome to GymBooking!
            </h3>
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
            <button id="button1" type="button" class="btn btn-lg btn-primary btn-block">
                I am a user
            </button>
            <button id="button2" type="button" class="btn btn-lg btn-primary btn-block">
                I am an administrator
            </button>
            <button id="button3" type="button" class="btn btn-lg btn-primary btn-block">
                I am a super administrator
            </button>
        </div>
    </div>
</div>

<script src="../static/js2/jquery.min.js" th:src="@{/js2/jquery.min.js}"></script>
<script src="../static/js2/bootstrap.min.js" th:src="@{/js2/bootstrap.min.js}"></script>
<script>
    $('#button3').click(function (){
        window.location.href = "./superAdmin.html";
    })
</script>


</body>
</html>